{% set pagination = pagination|default(page.collection.params.pagination) %}
{% set base_url = base_url|default(page.url) %}

{% if pagination|length > 1 %}

<ul class="pagination">
    {% if pagination.hasPrev %}
        {% set url =  (base_url ~ pagination.params ~ pagination.firstUrl)|replace({'//':'/'}) %}
        <li><a rel="prev" href="{{ url }}">&lt;&lt;</a></li>
        {% set url =  (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
        <li><a rel="prev" href="{{ url }}">&lt;</a></li>
    {% else %}
        <li><span>&lt;&lt;</span></li>
        <li><span>&lt;</span></li>
    {% endif %}

    {% for paginate in pagination %}

        {% if paginate.isCurrent %}
            <li><span class="active">{{ paginate.number }}</span></li>
        {% elseif paginate.isInDelta %}
            {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
            <li><a href="{{ url }}">{{ paginate.number }}</a></li>
        {% elseif paginate.isDeltaBorder %}
            <li class="gap"><span>&hellip;</span></li>
        {% endif %}

    {% endfor %}
    {% if pagination.hasNext %}
        {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        <li><a rel="next" href="{{ url }}">&gt;</a></li>
        {% set url = (base_url ~ pagination.params ~ pagination.lastUrl)|replace({'//':'/'}) %}
        <li><a rel="next" href="{{ url }}">&gt;&gt;</a></li>
    {% else %}
        <li><span>&gt;</span></li>
        <li><span>&gt;&gt;</span></li>
    {% endif %}
</ul>

{% endif %}
